.bundle
.env
.env.*
.git
.gitignore
docker-compose.*
docker/Dockerfile
docker/dockerfiles
log
storage
public/system
tmp
.codeclimate.yml
public/assets
public/packs
node_modules
vendor/bundle
.DS_Store
*.swp
*~

.DS_Store
.bin
.bundleignore
.byebug_history
.rspec
test
config/deploy
public/packs-test
yarn-error.log
coverage/
